<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694046059233-5s3midj17ug3vaguscrr7n7f4qducm4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694046059233-5s3midj17ug3vaguscrr7n7f4qducm4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>694046059233-c5673q1lgno4fm0j2629iupivr7aj7vq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUJMFJPewmNR4SyAwr9Kh2o3oBiiqjqEg</string>
	<key>GCM_SENDER_ID</key>
	<string>694046059233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Bezzy</string>
	<key>PROJECT_ID</key>
	<string>bezzy-applicatio-1603700126875</string>
	<key>STORAGE_BUCKET</key>
	<string>bezzy-applicatio-1603700126875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694046059233:ios:527b274c59a1e7012d65a0</string>
	<key>DATABASE_URL</key>
	<string>https://bezzy-applicatio-1603700126875.firebaseio.com</string>
</dict>
</plist>